h1{
    left: 0;
    line-height: 300px;
    margin-top: -150px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    color: brown;
}
li a{
    float: left;
    margin-left: 20px;
    text-decoration: none;
}
li{
    list-style: none;
    margin-left:1100px; 
    margin-top: -110px;   
}
#two{
    left: 0;
    line-height: 300px;
    margin-left: 740px;
    position: relative;
    text-align: center;
    top: 210px;
    width: 25%;
}